@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', sans-serif;
    background-color: #f7f7f7;
    display: grid;
    place-items: center;
}

h1 {
    margin-bottom: 12px;
    font-size: 28px;
    text-transform: uppercase;
}

.card {
    width: 350px;
    margin: 40px;
    box-shadow: 8px 16px 12px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    overflow: hidden;
}

.card::after {
    content: '';
    display: block;
}

.avatar {
    width: 100%;
    display: block;
    height: 250px;
    display: flex;
}

.avatar img {
    width: 100%;
    object-fit: cover;
    object-position: top -60px left 0;
}

.data {
    padding: 28px 20px;
    padding-top: 24px;
}

.intro p {
    font-size: 14px;
}

.skill-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 16px;
}

.skill {
    padding: 2px 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}
